{erl_opts, [warnings_as_errors, debug_info]}.
{deps, [
  {cowboy, "0.2.0", {git, "git://github.com/extend/cowboy.git", {tag, "0.2.0"}}},
  {eleveldb, "1.0.0", {git, "git://github.com/basho/eleveldb.git", {tag, "1.0.0"}}}
]}.
{clean_files, ["ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.
